
{% if(assets != null) %}

{% for asset in assets %}
  {% for item in asset %}
    {% autoescape %}
      {{ item|raw }}
    {% endautoescape %}
  {% endfor %}
{% endfor %}

{% else %}

<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js'></script>

{% endif %}
