<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Credenciamento | {{ produto }}</title>

  {% include 'head.phtml' %}

</head>
<body>
  <ul id="navigation">

  </ul>

  {% block before_content %}

  {% endblock %}

  {% block content %}

  {% endblock %}

  {% block after_content %}

  {% endblock %}
</body>
</html>
