<div class="col-md-12">

<h2>Dados Societários</h2>

<form role="form" action="" method="POST">
 <div class="form-group col-md-6">
   <label for="dados_cpfcnpj">CNPJ/CPF*:</label>
   <input type="text" class="form-control" required="required" name="dados_cpfcnpj" value="{% if(oldInput['dados_cpfcnpj']) %} {{ oldInput['dados_cpfcnpj'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="dados_mcc">MCC*:</label>
   <input type="text" class="form-control" required="required" name="dados_mcc" value="{% if(oldInput['dados_mcc']) %} {{ oldInput['dados_mcc'] }} {% endif %}">
 </div>

 <div class="form-group col-md-12">
   <label for="dados_razaosocial_nomecompleto">Razão Social/Nome Completo*:</label>
   <input type="text" class="form-control" required="required" name="dados_razaosocial_nomecompleto" value="{% if(oldInput['dados_razaosocial_nomecompleto']) %} {{ oldInput['dados_razaosocial_nomecompleto'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="dados_faturamentomensal">Faturamento Mensal:</label>
   <input type="text" class="form-control" placeholder="opcional" name="dados_faturamentomensal" value="{% if(oldInput['dados_faturamentomensal']) %} {{ oldInput['dados_faturamentomensal'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="dados_ticketmedio">Ticket Médio:</label>
   <input type="text" class="form-control" placeholder="opcional" name="dados_ticketmedio" value="{% if(oldInput['dados_ticketmedio']) %} {{ oldInput['dados_ticketmedio'] }} {% endif %}">
 </div>

 <h2>Pagamentos</h2>
 <h5>Visa/Mastercard</h5>

 <div class="form-group col-md-12">
   <label for="pagamentos_banco">Banco*:</label>
   <input type="text" class="form-control" required="required"  name="pagamentos_banco" value="{% if(oldInput['pagamentos_banco']) %} {{ oldInput['pagamentos_banco'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="pagamentos_agencia">Agência*:</label>
   <input type="text" class="form-control" required="required"  name="pagamentos_agencia" value="{% if(oldInput['pagamentos_agencia']) %} {{ oldInput['pagamentos_agencia'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="pagamentos_agenciadv">Digito Agência*:</label>
   <div class="input-group">
     <input type="text" class="form-control" required="required"  name="pagamentos_agenciadv" value="{% if(oldInput['pagamentos_agenciadv']) %} {{ oldInput['pagamentos_agenciadv'] }} {% endif %}">
     <span class="input-group-addon" id="basic-addon2">dv</span>
   </div>
 </div>


 <div class="form-group col-md-6">
   <label for="pagamentos_conta">Conta*:</label>
   <input type="text" class="form-control" required="required"  name="pagamentos_conta" value="{% if(oldInput['pagamentos_conta']) %} {{ oldInput['pagamentos_conta'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="pagamentos_contadv">Digito Conta*:</label>
   <div class="input-group">
     <input type="text" class="form-control"  required="required" name="pagamentos_contadv" value="{% if(oldInput['pagamentos_contadv']) %} {{ oldInput['pagamentos_contadv'] }} {% endif %}">
     <span class="input-group-addon" id="basic-addon2">dv</span>
   </div>
 </div>

 <h2>Contatos</h2>
 <h5>Responsável</h5>

 <div class="form-group col-md-6">
   <label for="contatos_nome">Nome*:</label>
   <input type="text" class="form-control" required="required" name="contatos_nome" value="{% if(oldInput['contatos_nome']) %} {{ oldInput['contatos_nome'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="contatos_email">Email*:</label>
   <div class="input-group">
     <input type="email" class="form-control" required="required" name="contatos_email" value="{% if(oldInput['contatos_email']) %} {{ oldInput['contatos_email'] }} {% endif %}">
     <span class="input-group-addon" id="basic-addon2">@example.com</span>
  </div>
 </div>

 <div class="form-group col-md-6">
   <label for="contatos_celular">Celular*:</label>
   <input type="text" class="form-control" required="required" name="contatos_celular" value="{% if(oldInput['contatos_celular']) %} {{ oldInput['contatos_celular'] }} {% endif %}">
 </div>

 <div class="form-group col-md-6">
   <label for="contatos_telefone">Telefone*:</label>
   <input type="text" class="form-control" required="required" name="contatos_telefone" value="{% if(oldInput['contatos_telefone']) %} {{ oldInput['contatos_telefone'] }} {% endif %}">
 </div>

 <h2>Endereços</h2>

 <div class="form-group col-md-12">
   <label for="enderecos_endereco">Endereço Operação*:</label>
   <input type="text" class="form-control" required="required" name="enderecos_endereco" value="{% if(oldInput['enderecos_endereco']) %} {{ oldInput['enderecos_endereco'] }} {% endif %}">
 </div>

 <div class="form-group col-md-4">
   <label for="enderecos_numero">Número*:</label>
   <input type="text" class="form-control" required="required" name="enderecos_numero" value="{% if(oldInput['enderecos_numero']) %} {{ oldInput['enderecos_numero'] }} {% endif %}">
 </div>

 <div class="form-group col-md-4">
   <label for="enderecos_complemento">Complemento:</label>
   <input type="text" class="form-control" name="enderecos_complemento" value="{% if(oldInput['enderecos_complemento']) %} {{ oldInput['enderecos_complemento'] }} {% endif %}">
 </div>

 <div class="form-group col-md-4">
   <label for="enderecos_bairro">Bairro*:</label>
   <input type="text" class="form-control" required="required" name="enderecos_bairro" value="{% if(oldInput['enderecos_bairro']) %} {{ oldInput['enderecos_bairro'] }} {% endif %}">
 </div>

 <div class="form-group col-md-4">
   <label for="enderecos_cep">CEP*:</label>
   <input type="text" class="form-control" required="required" name="enderecos_cep" value="{% if(oldInput['enderecos_cep']) %} {{ oldInput['enderecos_cep'] }} {% endif %}">
 </div>

 <div class="form-group col-md-4">
   <label for="enderecos_cidade">Cidade*:</label>
   <input type="text" class="form-control" required="required" name="enderecos_cidade" value="{% if(oldInput['enderecos_cidade']) %} {{ oldInput['enderecos_cidade'] }} {% endif %}">
 </div>

 <div class="form-group col-md-4">
   <label for="enderecos_uf">UF*:</label>
   <input type="text" class="form-control" required="required" name="enderecos_uf" value="{% if(oldInput['enderecos_uf']) %} {{ oldInput['enderecos_uf'] }} {% endif %}">
 </div>

   Preferências de operadora na região? (selecionar uma ou mais)
   <label><input type="checkbox" name="endereco_operadora[]" value="vivo"> Vivo</label>
   <label><input type="checkbox" name="endereco_operadora[]" value="tim"> Tim</label>
   <label><input type="checkbox" name="endereco_operadora[]" value="claro"> Claro</label>
   <label><input type="checkbox" name="endereco_operadora[]" value="oi"> Oi</label>


 <h2>Condições Comerciais</h2>
 <h5>Produto (Visa / Mastercard)</h5>

 <div class="form-group col-md-3">
   <label for="condcomerciais_txdebito">% Débito*:</label>
   <input type="text" class="form-control" placeholder="Taxa de Desconto" required="required" name="condcomerciais_txdebito" value="{% if(oldInput['condcomerciais_txdebito']) %} {{ oldInput['condcomerciais_txdebito'] }} {% endif %}">
 </div>

 <div class="form-group col-md-3">
   <label for="condcomerciais_txcredito">% Crédito À Vista*:</label>
   <input type="text" class="form-control" placeholder="Taxa de Desconto" required="required" name="condcomerciais_txcredito" value="{% if(oldInput['condcomerciais_txcredito']) %} {{ oldInput['condcomerciais_txcredito'] }} {% endif %}">
 </div>

 <div class="form-group col-md-3">
   <label for="condcomerciais_txparcelado26">% Parcelado* (2 até 6):</label>
   <input type="text" class="form-control" placeholder="Taxa de Desconto" required="required" name="condcomerciais_txparcelado26" value="{% if(oldInput['condcomerciais_txparcelado26']) %} {{ oldInput['condcomerciais_txparcelado26'] }} {% endif %}">
 </div>

 <div class="form-group col-md-3">
   <label for="condcomerciais_txparcelado712">% Parcelado* (7 até 12):</label>
   <input type="text" class="form-control" placeholder="Taxa de Desconto" required="required" name="condcomerciais_txparcelado712" value="{% if(oldInput['condcomerciais_txparcelado712']) %} {{ oldInput['condcomerciais_txparcelado712'] }} {% endif %}">
 </div>

 <h5>Meio de Captura</h5>

 <div class="form-group col-md-2">
   <label>
     <input type="checkbox" name="condcomerciais_meiocaptura[]" value="posgprs"> POS GPRS
 </div>

 <div class="form-group col-md-4">
   <input type="text" class="form-control" placeholder="Quantidade POS GPRS" name="condcomerciais_posgprsqtd" value="{% if(oldInput['condcomerciais_posgprsqtd']) %} {{ oldInput['condcomerciais_posgprsqtd'] }} {% endif %}">
 </div>

 <div class="clearfix"></div>

 <div class="form-group col-md-2">
   <label>
     <input type="checkbox" name="condcomerciais_meiocaptura[]" value="poseth"> POS Ethernet LAN
 </div>

 <div class="form-group col-md-4">
   <input type="text" class="form-control" placeholder="Quantidade POS Ethernet LAN" name="condcomerciais_posethqtd" value="{% if(oldInput['condcomerciais_posethqtd']) %} {{ oldInput['condcomerciais_posethqtd'] }} {% endif %}">
 </div>

 <div class="clearfix"></div>

 <div class="form-group col-md-2">
   <label>
     <input type="checkbox" name="condcomerciais_meiocaptura[]" value="mobile"> Mobile
 </div>

 <div class="form-group col-md-4">
   <input type="text" class="form-control" placeholder="Mobile" name="condcomerciais_mobileqtd" value="{% if(oldInput['condcomerciais_mobileqtd']) %} {{ oldInput['condcomerciais_mobileqtd'] }} {% endif %}">
 </div>

 <div class="clearfix"></div>

 <div class="form-group col-md-2">
   <label>
     <input type="checkbox" name="condcomerciais_meiocaptura[]" value="pinpad"> Pinpad
 </div>

 <div class="form-group col-md-4">
   <input type="text" class="form-control" placeholder="Pinpad" name="condcomerciais_pinpadqtd" value="{% if(oldInput['condcomerciais_pinpadqtd']) %} {{ oldInput['condcomerciais_pinpadqtd'] }} {% endif %}">
 </div>

 <div class="clearfix"></div>

 <button type="submit" class="btn btn-primary">Enviar</button>
</form>

</div>
